@import './quasar.variables.scss';

html {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  height: 100%;
}

#q-app {
  height: 100%;
}
.app-layout {
  height: 100%;
}
main {
  height: 100%;
}
p {
  margin: 0;
}

a {
  color: $primary;
  font-size: 0.75rem;
  line-height: 0.875rem;
  text-decoration: none;
}
.dialog__title-text {
  font-family: 'Arial', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.dialog__header-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}
.text__caption {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $secondary;
}
