@import './quasar.variables.scss';

html {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $maintext;

  overflow: hidden;
  height: 100%;
}

#q-app {
  height: 100%;
}
.app-layout {
  height: 100%;
}
main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
p {
  margin: 0;
}

a {
  color: $primary;
  font-size: 0.75rem;
  line-height: 0.875rem;
  text-decoration: none;
}
.dialog__title-text {
  font-family: 'Arial', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.dialog__header-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}
.text__caption {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $secondary;
}
.header-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}
.header-caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  color: #969494;
}

.color-flagged {
  color: $flagged;
}

.main-list-item {
  width: 100vw;
  border-bottom: solid 1px #F6F6F6;

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__text-primary {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.3px;
  }

  &__text-secondary {
    color: $subtext;
    font-size: 12px;
    line-height: 10px;
  }

  &__icon {
    color: #B6B5B5;
  }
}

