/*=== Common css part ===*/
@import "../../CoreWebclient/styles/common/@mixins.less";
//@import "./common/text-fade.less";
@import "../../CoreWebclient/styles/common/fonts.less";

/*=== Library part ===*/
//@import "./common/helpers.less";
//@import "./common/keyframes.less";
//@import "./mobile/grid.less";
//@import "./common/toolbar.less";


/* Controls */
//@import "./common/buttons.less";
//@import "./common/checkbox.less";
//@import "./common/inputs.less";
//@import "./common/scrollbar.less";
//@import "./common/pagination.less";
//@import "./mobile/pagination.less";
//@import "./mobile/dropdown.less";
//@import "./common/jquery-ui-overrides.less";

//@import "./mobile/attachments.less";
//@import "./common/notifications.less";
//@import "./common/popups.less";
//@import "./common/files.less";

/*=== Common blocks part ===*/
//@import "./common/search-block.less";
//@import "./mobile/tabsbar.less";
//@import "./common/volumer.less";
//@import "./mobile/volumer.less";

/*=== Screen overrides part ===*/
//@import "./common/base.less";
//@import "./mobile/base.less";

@import "./animations.less";
@import "./icons.less";

.auroraMain,
#auroraContent,
.screens,
.screen {
	height: 100%;
}

.notifications {
	.notification-item {
		opacity: 1;
		position: relative;
		.transition(opacity 200ms ease 0s);
		.transition(~"visibility 0ms linear 0ms, position 0ms linear 0ms");
		
		&.hide {
			.transition(~"visibility 0ms linear 500ms, position 0ms linear 500ms");
			position: absolute;
			opacity: 0;
		}
	}
}

.list_notification {
	text-align: center;
	color: #999;
	display: block;
	padding: 20px 10px;
	
	.link {
		color: initial;
	}
}


#apps-list {
	.item-content {
		color: #000;
		
	}
	
	.current {
		font-weight: bold;
	}
}

.pagination {
	font-size: 12pt;
	padding: 0px 90px 0px 10px;
	white-space: nowrap;
	
	.item {
		margin: 0px 3px;
		padding: 2px 2px;
		vertical-align: middle;

		&.current {
			background: #6bb3ed;
			border-radius: 4px;
		}

		.icon {
			display: inline-block;
		}

		&.next, &.last, &.first, &.prev 
		{
			padding: 0px;
			width: 28px;
			display: inline-block;
		}

		&.last, &.first {
			display: none;
		}

		&.first .icon::before {
			content: "\e64e";
		}
		&.prev .icon::before {
			content: "\e64b";
		}
		&.next .icon::before {
			content: "\e64c";
		}
		&.last .icon::before {
			content: "\e64d";
		}
	}
}

@import "./overrides.less";